/* 
This file stores reusable variables which can be
imported and used

Variables start with $
Syntax - $variable-name
*/

$fonts: 'Poppins', Helvertica, sans-serif;
$primary-color: #ab99ca;
$spacing: 2rem;
$dark-grey: #999;

